.description-conteiner {
  margin: 0 100px;
}

.description {
  display: flex;
  margin-bottom: 40px;
}
.description-title {
  font-size: 50px;
}
.table-wrap {
  width: 100%;
  margin-left: 130px;
}

table {
  width: 100%;
  text-align: left;
  height: 10px;
  font-size: 25px;
}
table th {
  padding: 10px;
}
th {
  max-width: 400px;
}
