:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --dark-green: #014040;
  --green: #02735e;
  --lite-green: #03a678;
  --orange: #f27405;
  --dark-read: #731702;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: var(--orange);
  transition: all 0.3s;
}

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  background: linear-gradient(
    320deg,
    var(--orange) 0%,
    var(--dark-green) 90%,

    var(--dark-green) 100%
  );
}

li {
  list-style: none;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 3px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--dark-read);
  cursor: pointer;
  transition: border-color 0.3s;
}
button:hover {
  border-color: var(--orange);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  /* a:hover {
    color: var(--orange);
  } */
  button {
    background-color: #f9f9f9;
  }
}
/* div {
  width: 100%;
  height: 100%;
} */
