.horizontal-list-conteiner {
  width: 100%;
  margin-top: 50px;
  padding: 0 100px;
}
.list-conteiner {
  margin: 0;
}
.horizontal-list {
  height: 100%;
  display: flex;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  scroll-behavior: smooth;
}
.title {
  font-weight: 500;
  font-size: 40px;
  margin: 0;
}
.horizontal-list-wrap {
  position: relative;
  margin: 1rem 0;
}

.scroll-list-button {
  color: var(--white);
  display: flex;
  position: absolute;
  z-index: 10;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 50px;
  opacity: 0;
  cursor: pointer;
  border: none;
}
.scroll-list-button:focus {
  outline: none;
  color: var(--orange);
}
.right {
  top: 0;
  right: 0;
}
.left {
  top: 0;
  left: 0;
}

.horizontal-list-wrap:hover .scroll-list-button {
  opacity: 1;
  transition: all 0.5s ease;
}
