.horizontal-list-conteiner {
  width: 100%;
}
.horizontal-list {
  display: flex;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  scroll-behavior: smooth;
}
.title {
  font-weight: 500;
  font-size: 40px;
  margin: 5rem 0 0 0;
}
.horizontal-list-wrap {
  position: relative;
  margin: 1rem 0;
}
.horizontal-list li {
  margin: 0 15px;
  margin-left: 0;
  height: 100%;
  max-height: 450px;
}
.horizontal-list li:last-child {
  margin-right: 0;
}
.horizontal-list img {
  border-radius: 0.5rem;
  background-size: cover;
  width: 300px;
  height: 450px;
}

.horizont-list-button {
  display: flex;
  position: absolute;
  z-index: 10;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 50px;
  opacity: 0;
  cursor: pointer;
}
.right {
  top: 0;
  right: 0;
}
.left {
  top: 0;
  left: 0;
}

.horizontal-list-wrap:hover .horizont-list-button {
  opacity: 1;
  transition: all 0.5s ease;
}
